.fenye { 
	margin: 25px 0;
}

.fenye a { 
	padding: 2px 5px;
 	margin: 5px;
 	font-weight: 700;
 	font-size: 18px;
 	color: #979797;
 	text-decoration: underline;
}

.fenye a:hover { 
	color: #364762;
}

.fenye .current { 
	color: #364762;
} 